<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58600120257-5c0gs924tc5ecfehop8o38jpo75fevmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58600120257-5c0gs924tc5ecfehop8o38jpo75fevmt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58600120257-c3fhq8rulctoepgit6d4aifbjms3t51v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi6mCeAa6Kmh_kCvFVv5P32OLZcgH2tmA</string>
	<key>GCM_SENDER_ID</key>
	<string>58600120257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozvisa.alert</string>
	<key>PROJECT_ID</key>
	<string>ozvisa-alert-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>ozvisa-alert-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58600120257:ios:f68c11657e8083c91fd940</string>
</dict>
</plist>